<section class="person-form">
  <v-form>
    <v-row class="fill-height ma-0" align="center" justify="space-between" no-gutters>
      <v-col cols="6">
        <v-text-field v-model="person.name" label="Nome" :error-messages="getNameErrors()" maxlength="100"
          :disabled="isReadOnly" />
      </v-col>
      <v-col cols="6">
        <v-text-field v-model="person.cpf" label="CPF" v-mask="'###.###.###-##'" :error-messages="getCpfErrors()"
          @input="$v.person.cpf.$touch()" @blur="validateLength($event, 14)" :disabled="isReadOnly" />
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="6">
        <v-text-field v-model="person.email" label="E-mail" :error-messages="getEmailErrors()" maxlength="100"
          :disabled="isReadOnly" />
      </v-col>
      <v-col cols="6">
        <v-text-field v-model="person.birthDate" label="Data de nascimento" v-mask="'##/##/####'"
          :error-messages="getBirthDateErrors()" @input="$v.person.birthDate.$touch()"
          @blur="validateLength($event, 10)" :disabled="isReadOnly" />
      </v-col>
    </v-row>
  </v-form>

  <v-tabs centered color="primary" background-color="#E0E0E0" icons-and-text v-model="activeTab">
    <v-tab href="#address" :class="{'tab-error': invalidAddress.length}">
      Endereços
      <v-icon>local_library</v-icon>
    </v-tab>

    <v-tab href="#contact" :class="{'tab-error': invalidContact.length}">
      Contatos
      <v-icon>local_phone</v-icon>
    </v-tab>

    <v-tab-item key="tab-address" value="address">
      <v-expansion-panels multiple v-model="invalidAddress">
        <v-expansion-panel v-for="(address, index) in person.address" :key="index">
          <v-expansion-panel-header>
            <v-row class="fill-height ma-0" align="center" justify="space-between" no-gutters>
              <v-col>
                Endereço {{index + 1}}
              </v-col>
              <v-col class="text-right">
                <v-tooltip bottom v-if="person.address.length > 1">
                  <template v-slot:activator="{ on }">
                    <v-btn fab color="error" v-on="on" x-small @click="removeAddress($event, index)">
                      <v-icon>remove</v-icon>
                    </v-btn>
                  </template>
                  <span>Excluir</span>
                </v-tooltip>
              </v-col>
            </v-row>
          </v-expansion-panel-header>
          <v-expansion-panel-content eager>
            <address-form :ref="'address-form-'+index" :address="address" />
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>

      <v-row class="fill-height ma-0 bottom-bar" align="center" justify="end">
        <v-btn color="primary" depressed @click="newAddress">
          Novo
          <v-icon>add</v-icon>
        </v-btn>
      </v-row>
    </v-tab-item>

    <v-tab-item key="tab-contact" value="contact" eager>
      <v-expansion-panels multiple v-model="invalidContact">
        <v-expansion-panel v-for="(contact, index) in person.contact" :key="index">
          <v-expansion-panel-header>
            <v-row class="fill-height ma-0" align="center" justify="space-between" no-gutters>
              <v-col>
                Contato {{index + 1}}
              </v-col>
              <v-col class="text-right">
                <v-tooltip bottom v-if="person.contact.length > 1">
                  <template v-slot:activator="{ on }">
                    <v-btn fab color="error" v-on="on" x-small @click="removeContact($event, index)">
                      <v-icon>remove</v-icon>
                    </v-btn>
                  </template>
                  <span>Excluir</span>
                </v-tooltip>
              </v-col>
            </v-row>
          </v-expansion-panel-header>
          <v-expansion-panel-content eager>
            <contact :ref="'contact-'+index" :contact="contact" />
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>

      <v-row class="fill-height ma-0 bottom-bar" align="center" justify="end">
        <v-btn color="primary" depressed @click="newContact">
          Novo
          <v-icon>add</v-icon>
        </v-btn>
      </v-row>
    </v-tab-item>
  </v-tabs>

  <v-row class="bottom-bar">
    <v-col cols="6" class="text-right">
      <v-btn color="primary" @click="add" id="add">
        <v-icon>save</v-icon>
        Salvar
      </v-btn>
    </v-col>
    <v-col cols="6" class="text-left">
      <v-btn color="error" @click="clear" id="clear">
        <v-icon>clear</v-icon>
        Limpar
      </v-btn>
    </v-col>
  </v-row>
</section>
