.person-form {
  .v-form {
    .row {
      .col:first-child {
        padding-right: 20px;
      }
    }
  }

  .v-tabs {
    margin-top: 20px;
  }

  .bottom-bar {
    margin-top: 20px !important;
  }

  .v-btn--fab {
    margin-right: 30px;
  }

  .tab-error {
    border: 1px solid red;
  }
}
