<section class="home">
  <v-row class="bottom-bar" align="center" justify="end">
    <v-col cols="12" class="text-right">
      <v-btn color="primary" depressed @click="newPerson">
        Nova pessoa
        <v-icon>add</v-icon>
      </v-btn>
    </v-col>

    <v-col cols="12">
      <v-card v-if="showAddPerson">
        <person-form @save="save" :showCancel="true" @cancel="cancel" />
      </v-card>
    </v-col>
  </v-row>

  <v-row class="search">
    <v-col cols="12">
      <v-text-field v-model="searchValue" label="Buscar por nome" clearable />
    </v-col>
  </v-row>

  <v-data-table :headers="headers" :items="formattedPeople" item-key="_id" show-expand class="elevation-1"
    :hide-default-footer="true" :no-data-text="notData" :no-results-text="notFound" @item-expanded="itemExpanded"
    :expanded.sync="expanded">
    <template v-slot:expanded-item="{ headers, item }">
      <td :colspan="headers.length" class="details">
        <person-form v-slot:expanded-item="{ headers }" :person="item.details" v-if="item.details" @save="save" />
      </td>
    </template>

    <template v-slot:item.actions="{ item }">
      <v-row class="actions" no-gutters>
        <v-col cols="12">
          <v-row justify="center">
            <v-dialog v-model="showConfirmation" persistent max-width="290" eager attach>
              <template v-slot:activator="{ on }">
                <!-- <v-btn color="primary" dark v-on="on">Open Dialog</v-btn> -->

                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn fab color="error" v-on="on" x-small @click="removePerson(item)">
                      <v-icon>remove</v-icon>
                    </v-btn>
                  </template>
                  <span>Excluir</span>
                </v-tooltip>
              </template>
              <v-card>
                <v-card-title class="headline">Confirmação</v-card-title>
                <v-card-text>Você confirma a exclução de <b>{{currentPerson.name}}</b>?</v-card-text>
                <v-card-actions>
                  <v-row no-gutters>
                    <v-col class="text-right">
                      <v-btn color="primary" @click="confirmRemovePerson">
                        <v-icon>done</v-icon>
                        Sim
                      </v-btn>
                    </v-col>
                    <v-col class="text-left">
                      <v-btn color="error" @click="showConfirmation = false">
                        <v-icon>cancel</v-icon>
                        Não
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-row>
        </v-col>
      </v-row>
    </template>
  </v-data-table>
</section>
