<section class="home">
  <v-row class="search">
    <v-col cols="12">
      <v-text-field v-model="searchValue" label="Buscar por nome" clearable />
    </v-col>
  </v-row>

  <v-data-table :headers="headers" :items="formattedPeople" item-key="_id" show-expand class="elevation-1"
    :hide-default-footer="true" :no-data-text="notData" :no-results-text="notFound" @item-expanded="itemExpanded">
    <template v-slot:expanded-item="{ headers, item }">
      <td :colspan="headers.length" class="details">
        <person-form v-slot:expanded-item="{ headers }" :person="item.details" v-if="item.details" @save="save"/>
      </td>
    </template>
  </v-data-table>

  <!-- <person-form @save="save" /> -->
</section>
